//   Layout

*, *:before, *:after {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}

body{
  padding-top: 20px;
  padding-bottom: 20px;
}

// HEADER //////////////////////////////////////////////////////////////////////////////////////////

header.header.container {
  margin-bottom: 30px;
  padding: 0;
  width: 720px;
}
.header, .marketing, .footer {
padding-left: 0;
padding-right: 0;
}

.header {
border-bottom: 1px solid #e5e5e5;
}

.header h3 {
margin-top: 0;
margin-bottom: 0;
line-height: 40px;
padding-bottom: 19px;
}

#logo {
color: #43566B;
}

.text-muted {
color: #999999;
}

// ASIDE ///////////////////////////////////////////////////////////////////////////////////////////

aside {
  position: fixed;
  width: 240px;
  left: 50%;
  margin-left: -640px;
  text-align: right;
}

aside ul { margin: 0 0 20px 0; }

aside ul li { list-style: none; }

// ARTICLE /////////////////////////////////////////////////////////////////////////////////////////

article { margin: 0 0 40px 0; }
article h2 { margin: 0 0 10px 0; }
article h2 small { font-size: 14px; }

.container {
padding-right: 15px;
padding-left: 15px;
margin-right: auto;
margin-left: auto;
width: 750px;
}

.container:before, .container:after {
display: table;
content: " ";
}

.container:after {
clear: both;
}

//   Footer


//   States

.pull-right {
float: right !important;
}
