@import "../core/variables"
table.calendar
  tbody
    tr
      td
        position: relative
        padding: 8px 0
        .date
          padding: 0 8px
      ul
        margin: 0
        padding: 5px 0
        list-style-type: none
        li
          // position: absolute
          margin-bottom: 1px
          width: 100%
          &[stack-level="0"] a
            background-color: $color-rnbw-0
          &[stack-level="1"] a
            background-color: $color-rnbw-1
          &[stack-level="2"] a
            background-color: $color-rnbw-2
          &[stack-level="3"] a
            background-color: $color-rnbw-3
          &[stack-level="4"] a
            background-color: $color-rnbw-4
          &[stack-level="5"] a
            background-color: $color-rnbw-5
          &[stack-level="6"] a
            background-color: $color-rnbw-6

          a
            display: block
            border-radius: 0
          &.start
            a
              border-radius: 3px 0 0 3px
          &.finish
            a
              border-radius: 0 3px 3px 0


@for $is from 0 through 10
  $stacklevel : "li[stack-level='" + $is + "']"
  $weeks : ".week[events='" + $is + "']"
  #{$stacklevel}
    margin-top: 20px * $is
  #{$weeks}
    height: 40px + (20px * $is)
