- if !user_signed_in?
  = form_for("user", :url => user_session_path, :html => {:class => "form-signin"}) do |f|
    = render(:partial => 'devise/sessions/login', :locals => { :f => f })

- else
  -# = link_to 'List Users' admin_path
