%header.header
  %ul.nav.nav-pills.pull-right
    - if user_signed_in?
      %li About
      %li Calendar
      %li Members
      %li Documents
      %li
        = link_to 'Admin', admin_users_path
    - if user_signed_in?
      %li
        = link_to('Logout', destroy_user_session_path, :method=>'delete')
  %h3
    =link_to "Tilba Lake Community", '/', id: "logo"
