%header.header
  %ul.nav.nav-pills.pull-right
    %li About
    %li Calendar
    %li Members
    %li Documents
    - if user_signed_in?
      %li
        = link_to('Logout', destroy_user_session_path, :method=>'delete')
  %h3
    =link_to "Tilba Lake Community", '/', id: "logo"
