%p
  Welcome #{@email}! Thank you for requesting an account.

%p The Tilba Lake Community website requires all accounts to be approved by an administrator before accessing the system. An administrator has been notified of you request and will review it shortly. You we be notified via email upon activation.

%p Thank your for your patience.
